# Endesa
endesa:
  username: ''
  password: ''

# Iberdrola
iberdrola:
  username: ''
  password: ''

# Hidro Cantabrico
hc:
  username: ''
  password: ''

# Fenosa
fenosa:
  username: ''
  password: ''

# Viesgo
viesgo:
  username: ''
  password: ''

# Electrica Conquense
ec:
  username: ''
  password: ''

#...