
# Database conf
database:
  provider: ''
  host: ''
  port: ''
  database: ''
  user: ''
  password: ''

# Minio conf
minio:
  endpoint: ''
  access_key: ''
  secret_key: ''
  secure: True

# Erp conf
erp:
  server: ''
  db: ''
  user: ''
  password: ''

log_level: 'INFO'
log_dir: ''

# Mail conf
mail:
  from_address: ''
  to_address: ''
  host: ''
  port: ''
  password: ''

# Crawlers conf
crawlers:
  endesa: ''
  endesa_r: ''
  iberdrola: ''
  hc: ''
  fenosa: ''
  viesgo: ''
  aseme: ''
  cide: ''
  conquense: ''
  begasa: ''
